.footerContainer {
  width: 90%;
  margin: auto;
  color: white;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerLinks {
  margin-bottom: 10px;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.footerLinks a:hover {
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialIcons a {
  font-size: 24px;
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s;
}

.socialIcons a:hover {
  color: #f2ff00;
}

p {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}
